// It's highly recommended to change the default colors
// to match your app's branding.
	
$primary    :rgba(49, 104, 63, 1)
$secondary  :rgb(108, 141, 123)
$accent		:rgb(12, 66, 36)

$dark		: rgba(74, 86, 77, 1)

$positive	: #536056ff
$negative	: #D71313
$info		:rgb(11, 84, 83)
$warning	: #F2C037

$section-title : #B9BFF4

$wheat : #D9D9D9

//@import '~quasar-variables-style'
